[Desktop Entry]
Type=Application
Name=MoonlightWeb
Comment=Sunshine streaming client for the browser
Exec=MoonlightWeb
Icon=MoonlightWeb
Categories=Network;Game;
Terminal=false
