[Desktop Entry]
Type=Application
Name=Moonlight-Web
Comment=Sunshine streaming client for the browser
Exec=moonlight-web
Icon=moonlight-web
Categories=Network;Game;
Terminal=true
